.PokeCard {
    //Sacar luego
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aab7b8;
    .container {
        position: relative;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px 2px;
        height: 35%;
        width: 12%;
        min-width: 140px;
        min-height: 150px;

        background-color: rgba(255, 144, 81, 1);
        background-origin: content-box;
        background-repeat: no-repeat;
        border-radius: 3%;
        background-size: 100% 100%;
        border: 0.5vw rgba(255, 144, 81, 0.9) solid;

        .effect {
            position: absolute;
            height: 100%;
            width: 100%;
            background-image: url("./helpers/sparkles.gif"),
                linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
            background-position: 50% 50%;
            background-size: 160%;
            background-blend-mode: overlay;
            z-index: 2;
            mix-blend-mode: color-dodge;
            opacity: 0.3;
        }
        .card {
            height: 100%;
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: center;
        }
        .name {
            height: 12%;
            width: 90%;
            position: absolute;
            top: 2%;
            font-style: italic;
            font-size: 1.2vw;
            // border: 2px solid black;
            box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px 2px;
            background-color: rgb(90, 188, 216);
        }
        .img {
            position: absolute;
            height: 60%;
            width: 90%;
            top: 18%;
            box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px 2px;
            display: flex;
            align-items: center;
            justify-content: center;

            .background {
                height: 100%;
                width: 100%;
                position: absolute;
                background-image: url("./helpers/water.png");
                background-size: cover;
                opacity: 1;
            }

            .imagen {
                height: 90%;
                width: 90%;
                position: absolute;
                top: 5%;
            }
        }

        .types {
            height: 15%;
            width: 90%;
            position: absolute;
            top: 82%;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-around;
            box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px 2px;
            background-color: rgb(90, 188, 216);

            span {
                font-size: 12px;
                letter-spacing: 0.4px;
                font-weight: 600;
                padding: 0 2% 0 2%;
                border-radius: 20px;
                opacity: 0.9;
                font-size: 1.2vw;
            }
        }
    }
}
